{% extends "base.html" %}

{% block title %}{% if form.instance.pk %}Editar despesa{% else %}Nova despesa da casa{% endif %}{% endblock %}
{% block kicker %}Despesas da casa{% endblock %}
{% block heading %}{% if form.instance.pk %}Editar despesa{% else %}Nova despesa da casa{% endif %}{% endblock %}
{% block intro %}
    <p class="intro-pagina">Informe o vencimento para aparecer em Contas a pagar na ordem certa.</p>
{% endblock %}

{% block content %}
{% include "includes/form_padrao.html" %}
{% endblock %}
